* {
  text-align: center;
  color: mediumblue;
  font-family: "Monaco", "Lucida Console", "Courier New", monospace;
}

body {
  background-color: skyblue;
}

table {
  margin-left: auto;
  margin-right: auto;
}

tr.archive {
	display: none;
}

tr:hover {
background-color: white;
}

td {
	text-align: right;  
}

td.left {
	text-align: left;  
}

th, td {
  padding-right: 25px;
  padding-left: 25px;
}