<html>
<head>
	<link rel="stylesheet" href='/static/main.css' />
</head>
    <script>
    function setIFrameSrc(url) {
        console.log("setiframe");

        var iframe = document.getElementById("42");
		iframe.contentWindow.location.replace(url); 
        //var container = iframe.parent;
        //iframe.remove();
        //iframe.attr('src', url);
        //container.append(iframe);
        //location.replace(url);
        //document.write(url+'\n')
        //document.write(idFrame)
        // var idFrame = window.frameElement.id
        // var originalFrame = document.getElementById(this.frameElement.attributes.id);
        // var newFrame = document.createElement("iframe");
        // newFrame.id = originalFrame.getAttribute("id");
        // newFrame.width = originalFrame.getAttribute("width");
        // newFrame.height = originalFrame.getAttribute("height");
        // newFrame.src = url;    
        // var parent = originalFrame.parentNode;
        //parent.replaceChild(newFrame, originalFrame);
    }
    </script>
<iframe id="42" frameborder=0 width="100%" height="100%" src="/inbrowse/{{ title }}/{{ dirid }}" title="Inner browse"></iframe>
</html>